<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "ch.globetech.dokmedeggimann"
	version		= "12.0.9">

	<name>Dr. Eggimann</name>

	<description>
		App zur Demonstration der Funktionen von www.dokmed-app.ch. Erstellen Sie mit Implentis Ihre eigenen Apps!
	</description>

	<author href="http://www.implentis.ch">
		Implentis GmbH
	</author>

	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<icon src="icon.png" />

	<gap:splash src="splash.png" />
	<gap:splash src="ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	
	<gap:plugin name="org.apache.cordova.core.network-information" />
	<gap:plugin name="org.apache.cordova.core.file" />
	<gap:plugin name="org.apache.cordova.core.inappbrowser" />
	<gap:plugin name="com.phonegap.plugin.statusbar" />

	<access origin="*" />
	<preference name="phonegap-version" value="3.5.0" />
	<preference name="orientation" value="portrait" />
	<gap:config-file platform="ios" parent="UIStatusBarHidden">
	    <true/>
	</gap:config-file>

	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
	    <false/>
	</gap:config-file>
</widget>